<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial scale=1">
        <link rel="stylesheet" href=' {% static "study/index.css" %}' type="text/css" media="all">
        <title></title>
        <style type="text/css" media="all">
        </style>
    </head>
    <body>
    {% csrf_token %}
<div class="heading">
        <h1>
        <span>S</span>
        <span>t</span>
        <span>u</span>
        <span>d</span>
        <span>y</span>
        <span>_</span>
  <!--       <span>F</span>
  <span>o</span>
  <span>r</span>
  <span>_</span>
  <span>R</span>
  <span>e</span>
  <span>a</span>
  <span>c</span>
  <span>h</span>
  <span>_</span><br />
  <span>D</span>
  <span>r</span>
  <span>e</span>
  <span>a</span>
  <span>m</span> -->
        </h1>
</div>

<!--<form action="#" method="post" accept-charset="utf-8" name='text'>
    <textarea name="answer" id=text rows="8" cols="40"></textarea><br><br>
    <textarea name="question" id=text rows="8" cols="40"></textarea>
    <button type="submit">submit</button>
</form> -->
<div class="main">
    <a href="{%url 'business'%}">
<div class="nav">
        business
</div>
        </a>
    <a href="{%url 'economic'%}">
<div class="nav">
        economic
</div>
        </a>
    <a href="{%url 'account'%}">
<div class="nav">
        account
</div>
    </a>
    <a href="{%url 'cs'%}">
<div class="nav">
        Computer Science
</div>
    </a>

</div>

    </body>
</html>